html, body {
	margin:0;
	padding:0;
	font-size: 14px;
	font-family: Verdana;
	width: 100%;
	height: 100%;
}
a{
	outline: 0;
}
a img {  border-width:0;  }

table,td { font-size:1em; border:0}

input.img, input.chk {
	border-width: 0;
}
input.img {
	cursor: pointer;
}

input.num {
  width:4em;
}

input.txt, textarea.txt {
  width:25em;
}
div.lang {
	padding: 10px 0;
}
div.clear {
	clear: both;
}
a.n {
	display: block;
	float: left;
	border: 1px solid #c6c6c6;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #f9f9f9 url('/public/img/admin/bg_asite.gif') repeat-x 0 0;
	padding: 0 15px;
	color: #464646;
	font-size: 12px;
	line-height: 20px;
	text-decoration: none;
	margin-right: 5px;
}
a.a {
	display: block;
	float: left;
	border: 1px solid #292929;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #f9f9f9 url('/public/img/admin/bg_aexit.gif') repeat-x 0 0;
	padding: 0 15px;
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	text-decoration: none;
	margin-right: 5px;
}
input.ins {
	border: 1px solid #c6c6c6;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #f9f9f9 url('/public/img/admin/bg_asite.gif') repeat-x 0 0;
	padding: 0 15px;
	color: #464646;
	font-size: 12px;
	line-height: 22px;
	cursor: pointer;
}
input.bigtxt {
	border: #c6c6c6 1px solid;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 31px;
	color: #464646;
	font: 18px Verdana, Arial, Sans-serif;
	padding: 0 10px;
	line-height: 31px;
	width: 400px;
}
input.smtxt {
	border: #c6c6c6 1px solid;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 21px;
	color: #474747;
	font: 12px Verdana, Arial, Sans-serif;
	padding: 0 10px;
	line-height: 21px;
	width: 400px;
/*	background: #ffffff;*/
}
input.smsmtxt {
	border: #c6c6c6 1px solid;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 21px;
	color: #474747;
	font: 12px Verdana, Arial, Sans-serif;
	padding: 0 10px;
	line-height: 21px;
	width: 150px;
	background: #ffffff;
}
textarea.smarea {
	border: #c6c6c6 1px solid;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 21px;
	color: #474747;
	font: 12px Verdana, Arial, Sans-serif;
	padding: 5px 10px;
	line-height: 16px;
	width: 400px;
	height: 120px;
	background: #ffffff;
}

.colbig {
  width:20em;
}



.clear {
	clear: both;
}
.tt {
	float: left;
	font: 23px Verdana, Arial, Sans-serif;
	color: #949494;
	padding: 20px 0 0 30px;
}
.menu {
	width: 200px;
	padding: 10px;
	margin: 0;
	background: #dddddd;
	border-right: #b2b2b2 1px solid;
}
.table td {
	padding: 3px 15px 3px 0px;
	font-size: 12px;
}
.table td span.s {
	font-size: 11px;
	color: #333333;
}
.table td.bigtit {
	font-size: 14px;
}
.addmod {
	background: #eaeaea;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.addmod th {
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	text-align: center;
	color: #ffffff;
	padding: 0 10px;
	background: #7d7d7d url('/public/img/admin/bg_addmod.gif') repeat-x 0 0;
	line-height: 30px;
}
.addmod td {
	padding: 0 10px 0 20px;
	line-height: 30px;
	border-top: 1px solid #c7c7c7;
}
.addmod td.tree {
	padding: 5px 10px 5px 20px;
	line-height: 18px;
	border-top: 1px solid #c7c7c7;
}
.addmod td a {
	color: #666666;
	text-transform: uppercase;
	text-decoration: none;
}
.addmod td a:hover {
	text-decoration: underline;
}
#header {
	padding: 10px 30px 10px 20px;
	background: #f4f4f4 url('/public/img/admin/bg_header.gif') repeat-x 0 0;
	border-bottom: 1px solid #ffffff;
}
#lh {
	float: left;
}
#rh {
	float: right;
	padding: 20px 0 0;
}
a.site {
	display: block;
	float: left;
	border: 1px solid #c6c6c6;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #f9f9f9 url('/public/img/admin/bg_asite.gif') repeat-x 0 0;
	padding: 0 20px;
	color: #464646;
	font-size: 12px;
	line-height: 25px;
	text-decoration: none;
	margin-right: 5px;
}
a.exit {
	display: block;
	float: left;
	border: 1px solid #292929;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #f9f9f9 url('/public/img/admin/bg_aexit.gif') repeat-x 0 0;
	padding: 0 20px;
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	line-height: 25px;
	text-decoration: none;
}
div.display {
	float: left;
	margin: 0 10px 0 0;
	display: block;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height: 25px;
	border: 1px solid #c6c6c6;
	background: #f9f9f9 url('/public/img/admin/bg_asite.gif') repeat-x 0 0;
	color: #464646;
	font-size: 12px;
	line-height: 25px;
	cursor: pointer;
	padding: 0 20px;
}
.content {
	background: #f9f9f9 url('/public/img/admin/bg_main.gif') repeat-x 0 0;
	padding:0px 0px 0px 0px;
}
table.list {
	border: 1px solid #c6c6c6;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ffffff;
}
table.list th {
	color: #464646;
	font-size: 12px;
	line-height: 31px;
	font-weight: bold;
	background: #dcdcdc url('/public/img/admin/bg_th.gif') repeat-x 0 0;
	padding: 0 10px;
}
table.list td {
	padding: 0 5px;
	line-height: 31px;
}
.content a {
    color: #464646;
    text-decoration: none;
    font-size: 12px;
}

.content a:hover, .content a.list_here {
	color: #44a03d;
}
input.small {
	padding: 0 5px;
	height: 23px;
	background: #fefefe url('/public/img/admin/bg_input.gif') repeat-x 0 0;
	border: 1px solid #c8c8c8;
	line-height: 21px;
	width: 50px;
	color: #474747;
	font: 12px Verdana, Arial, Sans-serif;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
input.medium {
	padding: 0 5px;
	height: 23px;
	background: #fefefe url('/public/img/admin/bg_input.gif') repeat-x 0 0;
	border: 1px solid #c8c8c8;
	line-height: 21px;
	width: 110px;
	color: #474747;
	font: 12px Verdana, Arial, Sans-serif;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
input.big {
	padding: 0 5px;
	height: 23px;
	background: #fefefe url('/public/img/admin/bg_input.gif') repeat-x 0 0;
	border: 1px solid #c8c8c8;
	line-height: 21px;
	/*width: 300px;*/
	color: #474747;
	font: 12px Verdana, Arial, Sans-serif;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
select.select {
	padding: 0 0 0 5px;
	height: 23px;
	border: 1px solid #c8c8c8;
	line-height: 21px;
	border-radius: 3px;
}
input.save {
	border: 1px solid #292929;
	border-radius: 10px;
	padding: 5px 20px;
	font-weight: bold;
	cursor: pointer;
}
img.cursor {
	cursor: pointer;
}
.menu ul{
  margin:0 1em;
  padding:0;
  list-style:none;
}
.menu li {
    margin:0;
    }

.menu ul a {
    color:#464646;
    font-size: 12px;
    text-transform: none;
}

.menu ul a:hover {
    color:#44A03D;
}

th {
  background:#EBEBEB;
  color:#419E34;
}


td.key {
  background:#EBEBEB;
  width:200px;
  padding:2px 5px;
  vertical-align:top;
}

td.val {
  padding:0px 5px;
  vertical-align:top;
}

fieldset {
  color: #297D22;
  border:  #419E34 1px solid;
  padding:0.7em;
  margin:0.3em 0;
}



.minimal {
  width:1%;
}

.sm {
	font-size:10px;
}

.main {
	width: 90%;
	padding: 25px 50px;
}

.path {
	width: 100%;
	height: 25px;
	border: 1px solid #c8c8c8;
	background: transparent url('/public/img/admin/bg_path.gif') repeat-x 0 0;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0 10px;
}

.path a {
	float: left;
	display: block;
	padding: 0 20px 0 10px;
	color: #464646;
    font-size: 11px;
    line-height: 25px;
    font-style: italic;
	background: transparent url('/public/img/admin/a_path.gif') no-repeat top right;
}
.path a:hover{
	color: #464646;
	text-decoration: underline;
}

#contextAllow td {
  font-size:0.8em;
}

p.b3{
	font-family: Verdana;
    font-size: 10px;
    line-height:12px;
	color:#474747;
	font-weight:normal;
	padding-left:0px;
	padding-top:5px;
	margin:0px;
	text-align:left;
	background-image:url('/img/bullet3.gif');
	background-repeat:no-repeat;
	background-position:8px left;
	padding-left:30px;

	}

a.g:hover, a.g_active {
    color:#ffffff;
    background:#419E34;
    padding:2px 5px;
    text-transform:uppercase;
    font-weight:bold;
    font-size:9px;
    text-decoration:none;
}

a.g {
    text-decoration:none;
    color:#419E34;
    text-transform:uppercase;
    font-weight:bold;
    font-size:9px;
    padding:2px 5px;
}
div.bord {
	padding: 0 0 0 5px;
	height: 23px;
	background: #fefefe url('/public/img/admin/bg_input.gif') repeat-x 0 0;
	border: 1px solid #c8c8c8;
	color: #474747;
	font: 12px Verdana, Arial, Sans-serif;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
div.bord span {
    line-height: 23px;
}
div.tree_div {
	min-width: 150px;
	line-height: 18px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fefefe url('/public/img/admin/bg_input.gif') repeat-x 0 0;
	padding: 5px;
	border: 1px solid #c8c8c8;
}
.content div.tree_div a {
	text-decoration: underline;
}
div.previmg {
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c8c8c8;
	background: #fefefe url('/public/img/admin/bg_input.gif') repeat-x 0 0;
	padding: 5px;
	min-width: 80px;
	text-align: center;
}
span.title {
	color: #464646;
	font: bold 25px Arial, Sans-serif;
}
.buttonPickUp {
    background: url("/public/img/admin/bg_aexit.gif") repeat-x scroll 0 0 #F9F9F9;
    border: 1px solid #292929;
    border-radius: 10px 10px 10px 10px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    padding: 2px 20px;
}
.pickupWindow {
    background-color: #FFFFFF;
    border: 1px solid #AABBCC;
    display: none;
    left: 1px;
    position: absolute;
    top: 1px;
}
.pickupWindow .pickupWindowControlls {
    height: 30px;
    text-align: center;
}
.pickupWindow .pickupWindowNotice {
    display: none;
    padding: 2px 0 5px;
    text-align: center;
}
.buildingIcon {
 /*   background: url("../img/buildings-icon.png") repeat scroll 0 0 transparent;*/
    color: #FFFFFF;
    cursor: pointer;
    /*font-size: 18px;*/
    height: 55px;
    /*line-height: 32px;*/
    position: absolute;
    /*text-align: center;*/
    width: 49px;
    /*z-index: 120;*/
}
.infoSquareBox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CDCDCD;
    height: 28px;
    position: absolute;
    width: 84px;
}
.infoSquareBox .infoSBoxL {
    color: #CD000D;
    float: left;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 28px;
}
.infoSquareBox .infoSBoxR {
    border-left: 1px solid #CDCDCD;
    color: #5C5C5C;
    float: right;
    font-family: Arial;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 54px;
}
